@{
    ViewBag.Title = "Sobre";
}
<h2>Márcio D. Puntel</h2>
<h3>Desenvolvimento de softwares</h3>

<p>
    Há 19 trabalhando com desenvovimento de aplicações.<br />
    Possuo formação em sistemas de informação e pós-graduação em desenvolvimento de aplicações corporativas.<br />
    Desde 2010 estou atuando como teah lead e gerenciamento de projetos.<br />
    De 2011 a 2014 trabalhei como professor da graduação de Sistemas de Informação na Universidade Luterana do Brasil (ULBRA).<br />
    Há 14 anos trabalhando com .Net Framework e SQL Server. Ultimamente trabalhando com .Net Core e Entity Framework.<br />
    Há 5 anos trabalhando com API Rest e OAuth2.<br />
    Há 11 anos trabalhando com Android Java (nativo).<br />
    Já trabalhei num projeto interno (teste de performance) com microserviços (c# + mongoDB + docker).<br />
    <br />
    *Informações baseadas em Set/2022.
</p>
<p>
    <a href="https://www.linkedin.com/in/marciopuntel/" target="_blank">Meu linkedin</a>
</p>
